:root {
  --sidebar-width: min(700px, 30%);
}

body {
  margin: 0;
}

#sidebar {
  position: fixed;
  top: 0;
  background-image: url(./bg.jpg);
  background-size: cover;
  width: var(--sidebar-width);
  height: 100vh;
}

main {
  margin-left: var(--sidebar-width);
  background-color: rgb(185, 185, 185);
}

#form-box {
  background-color: white;
  padding: 10px;
}