@font-face {
  font-family: 'norsebold';
  src: url('norse-bold-webfont.woff2') format('woff2'),
    url('norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --sidebar-width: min(700px, 30%);
}

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f9fafb;
}

#sidebar {
  position: fixed;
  top: 0;
  flex-direction: column;
  color: white;
  background-image: url(./bg.jpg);
  background-size: cover;
  width: var(--sidebar-width);
  height: 100vh;
}

#logo {
  font-family: norsebold;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 100%;
  font-size: 6rem;
  height: 9rem;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  margin-top: 25vh;
}

#logo>img {
  max-height: 95%;
}

#photo-credit a,
#photo-credit a:visited,
#photo-credit a:active {
  color: inherit;
}

main {
  margin-left: var(--sidebar-width);
}

.container-top {
  margin: 3em;
  margin-top: 5em;
}

h1 {
  font-size: 1.5rem;
}

#sign-up {
  background-color: white;
  padding: 2rem 4rem;
  box-shadow: 0 0 50px 3px rgb(135, 135, 135);
}

#sign-up>h2 {
  grid-column: span 2;
  margin: 0;
}

#sign-up>label {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input {
  outline: none;
}

input:focus {
  border-color: rgba(100, 217, 100, 0.524);
  box-shadow: 0 0 3px 3px rgba(100, 217, 100, 0.524);
}

input:invalid {
  border-color: #cf6363;
}

input:invalid:focus {
  box-shadow: 0 0 10px 2px #cf6363;
}

.container-bot {
  margin-left: 3em;
  margin-top: 2em;
}

button {
  background-color: #596d48;
  border-radius: 5px;
  border: #596d48;
  padding: 0.75em 3em;
  font-size: 1rem;
  color: white;
}

main a {
  text-decoration: none;
  color: #596d48;
  font-weight: 800;
}